<form action='/session' method='post'>
  <label for"user_name">User Name</label>
  <input name="session[user_name]" id="user_name" type="text">
  <br>

  <label for"password">Password</label>
  <input name="session[password]" id="password" type="password">
  <br>
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <input type="submit" value="Log in">
</form>