<form action='/users' method= 'POST'>
  <label for="user_name">User Name</label>
  <input name="user[user_name]" type= "text">
  <br>

  <label for="password">Password</label>
  <input name="password" type="password">
  <br>
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <input type="submit" value="Create!">
</form>