<h3>Sessions</h3>
<table>
  <tr>
    <th>User Agent</th>
    <th>IP Address</th>
    <th>Location</th>
    <th>Logout</th>
  </tr>
  <% @user.sessions.each do |sess| %>
  <tr>
    <td><%= sess.user_agent %></td>
    <td><%= sess.ip_address %></td>
    <td><%= sess.location%></td>
    <td><%= button_to "Logout", logout_path(sess), method: :delete%></td>
  </tr>
  <% end %>
</table>