<form action="/cat_rental_requests" method="POST">
  <label for="cat_id">Cat</label>
  <select name="cat_rental_request[cat_id]" id="cat_id">
    <% Cat.all.each do |cat| %>
    <option value="<%=cat.id%>"><%= cat.name %></option>
    <% end %>
  </select>
<br>
  <label for="start_date">Start Date</label>
  <input type="date" name="cat_rental_request[start_date]" id="start_date">
<br>
  <label for="end_date">End Date</label>
  <input type="date" name="cat_rental_request[end_date]" id="end_date">
  <br>
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
  <input type="submit" value="Request Rental!">

</form>