<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<form action='<%= action_url %>' method="post">
  <% if cat.persisted? %>
  <input type="hidden" name="_method" value="PUT">
  <% end %>
  <label for"cat_name">Name</label>
  <input name="cat[name]" id="cat_name" type="text" value="<%= cat.name %>">
  <br>

  <label for"cat_age">Age</label>
  <input name="cat[age]" id="cat_age" type="number" value="<%= cat.age %>">
  <br>

  <label for"cat_birth_date">Birth Date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date" value="<%= cat.birth_date %>">
  <br>
  <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">

  <label for"cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
    <option value=""></option>
    <% Cat::COLORS.each do |color| %>
    <option value="<%= color %>" <%= "selected" if cat.color == color %>><%= color %></option>
    <% end %>
  </select>
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F" <%= "checked" if cat.sex == "F" %>>
  <label for="cat_sex_female">Female</label>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M" <%= "checked" if cat.sex == "M" %>>
  <label for="cat_sex_male">Male</label>
  <br>

  <input type="submit" value="Create Cat">
</form>