<table>
  <tr>
    <th>Name</th>
    <th>Birth Date</th>
    <th>Age</th>
    <th>Color</th>
    <th>Sex</th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
  </tr>
</table>

<h2>Requests</h2>

<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
    <th>Approve</th>
    <th>Deny</th>
  </tr>
  <% @cat.rental_requests.order(:start_date).each do |rental| %>
  <tr>
    <td><%= rental.start_date %></td>
    <td><%= rental.end_date %></td>
    <td><%= rental.status%></td>
    <% if rental.pending? && current_user.id == @cat.user_id %>
    <td><%= button_to "Approve", approve_cat_rental_request_url(rental), method: :post %></td>
    <td><%= button_to "Deny", deny_cat_rental_request_url(rental), method: :post %></td>
    <% end %>
  </tr>
  <% end %>
</table>