<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !current_user.nil? %>
  <h1>Welcome <%= current_user.user_name %></h1>
  <%= link_to "Sessions", user_url(current_user) %>
  <%= button_to "Logout", session_url, :method => :delete %>
<% else %>
  <%= link_to "Log in", new_session_url %>
<% end %>
<%= yield %>

</body>
</html>
